* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  padding: 3em 10vw;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  text-transform: uppercase;
  color: teal;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

nav li {
  margin-left: 2em;
  text-transform: uppercase;
}

nav button {
}

a {
  text-decoration: none;
  color: #505050;
}

button {
  padding: 1em 2em;
  outline: none;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  background-color: teal;
  box-shadow: 1px -1px 20px 1px #0000004d;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7em;
}

.left {
  width: 60%;
}

.right {
  width: 30%;
}

.left h1 {
  font-size: 4em;
  color: teal;
}

.left p {
  margin: 2em 0;
  color: gray;
}
